<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.purexua.learn.mapper.PayMapper">
    
    <insert id="addPay" useGeneratedKeys="true" keyProperty="id">
        insert into t_pay (pay_no,order_no,user_id,amount,deleted,create_time,update_time)
        values (#{payNo},#{orderNo},#{userId},#{amount},#{deleted},#{createTime},#{updateTime})
    </insert>
    
    <delete id="deletePay">
        delete from t_pay where id = #{id}
    </delete>
    
    <update id="updatePay">
        update t_pay
        <set>
            <if test="payNo != null">
                pay_no = #{payNo},
            </if>
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>
    
    <select id="getPayById" resultType="io.purexua.learn.entity.Pay">
        select id,pay_no,order_no,user_id,amount,deleted,create_time,update_time
        from t_pay
        where id = #{id}
    </select>
    
    <select id="getAllPay" resultType="io.purexua.learn.entity.Pay">
        select id,pay_no,order_no,user_id,amount,deleted,create_time,update_time
        from t_pay
    </select>


</mapper>